/* Ajustes de la tabla para listas generales */
.ticket-list-table td {
    vertical-align: middle;
    font-size: 0.95em;
}
.ticket-list-table th {
    font-size: 0.9em;
    text-transform: uppercase;
    white-space: nowrap; 
}

/* Estilo para el campo de búsqueda más grande */
#filtroBusqueda {
    height: 40px;
}